.buttonajout {
  border-color: brown;
  background-color: rgb(134, 71, 71) !important;
  /* padding: 8px 30px; */
  align-items: center;
  /* margin-left: 15px; */
  margin-top: 1%;
}
.bmodal {
  background-color: brown !important;
  align-self: "center" !important;
}
