.buttonajout {
  border-color: brown;
  background-color: rgb(134, 71, 71) !important;
  align-items: center;
  margin-top: 1%;
}
.bmodal {
  background-color: brown !important;
  align-self: "center" !important;
}

.buttonNote {
  border-color: brown;
  background-color: rgb(138, 96, 96) !important;
  align-items: center;
  margin-top: 1%;
}
