.sidebar {
  display: flex;
}

/* Sidebar Left */

.app-sidebar {
  width: 15%;
  height: 100vh;
  border-right: 4px solid #ddd;
  background: rgb(182, 144, 144);
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-logo {
  padding: 10px 0 10px 0;
  font-size: 20px;
  background-color: rgb(151, 19, 41);
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}
.sidebar-navigation::-webkit-scrollbar {
  width: 1em;
}

.sidebar-navigation::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar-navigation::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* Sidebar Right */

.app-main {
  width: 85%;
  height: 100vh;
}

.navbar {
  background-color: rgb(182, 144, 144) !important;
  height: 50px;
}
.navbar-brand {
  margin-left: auto;
  margin-right: auto;
}

.sidebar-carnet {
  cursor: pointer;
}
