.card-title,
.card-text {
  color: black;
}
.card-img-top {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.card {
  width: 75%;
  margin-top: 3%;
  margin-left: 12%;
  /* height: 15rem; */
}
